* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(./img/Untitled\ design.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}


div {
    text-align: center;
    margin-bottom: 2px;
}

img {
    width: 260px;
}

h1 {
    margin-bottom: 20px;
    position: relative;
    bottom: 20px;
    color: #ffffff;
    transition: opacity 0.5s ease-in-out;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}



input {
    padding: 10px;
    margin: 5px;
    width: 250px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px; 
    width: 50px; 
    height: 50px; 
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 14px; 
    cursor: pointer;
}

button img {
    width: 25px; 
}

button:hover {
    background-color:#A9E5A4;
}

@media (max-width: 600px) {
    section {
        flex-direction: column;
        align-items: center;
    }
}